.main {

    box-sizing: border-box;
    border: 1px solid #0e0d0d;
    flex-direction: column;
    max-width: 500px;
    min-width: 375px;
    margin: auto;
    margin-top: 50px;
    display: block;
    justify-content: center;

}

/* 電卓の計算結果 */
.main-result {
   
    border: 1px solid;

    justify-content: end;
    align-self: end;
    margin: auto;
    height: 50px;
    display: flex;
    background-color: #f3bfbffd;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
}

.main-result p {
    align-self: end;
    margin: 0 20px 0 0;
    text-align: end;
    font-size: larger;
}


/* 電卓のボタン */

.main-box {
    display: flex;
    border: 1px solid #0e0d0d;
    text-align: center;
    justify-content: center;
}

.main-button {
    width: 70px;
    height: 70px;
    border: 1px solid #cac9c9;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #f3f4fa;
    margin: 0px 5px 5px 5px;
    border-radius: 15px
}

.btn-extend {
    background-color: #ececec;
    color: #000;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    font-size: larger;


}

.btn-extend2 {
    background-color: #d1d8f5;
    
}

.btn-extend3 {
    background-color: #bef88e;
    
}

/* 電卓のメモリー機能 */

.memory{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: end;
    margin: auto;
}

.memory-a{
    background-color: #d9eed6fd;
    height: 50px;
    width: 30%;
    font-size: larger;
    text-align: start;
  margin: 10px 0 20px 20px;
}
.memory-a:nth-child(2){
    background-color: #e3f53ffd;
}



.memory-box {
    
    border: 1px solid;

    justify-content: end;
    
    margin: 0 0 0 0px;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #f3bfbffd;
    margin-top: 10px;
    margin-bottom: 20px;
   
}

.memory-button{
    align-self: flex-end;
    margin: 0 20px 0 0;
    text-align: end;
    font-size: larger;
}

/* 保存呼び出しゾーン */
.under-box{
    display: flex;
    border: 1px solid #0e0d0d;
    text-align: center;
}


